<nav class="w-2/3 relative px-4 py-4 flex justify-between items-center bg-white">
  <!-- Logo aligned to the left -->
  <a href="<%= root_path %>" class="text-3xl flex-start text-left font-bold mx5 leading-none">
    Finman
  </a>
  <!-- Spacer to push the desktop menu to the right -->
  <!-- Desktop menu -->
  <%= render "shared/_navbar/desktop_menu" %>
  <!-- Mobile menu -->
  <div class="mobile-menu hidden lg:hidden">
    <%= render "shared/_navbar/mobile_menu" %>
  </div>
</nav>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const burger = document.querySelector(".navbar-burger");
    const menu = document.querySelector(".mobile-menu");

    burger.addEventListener("click", function () {
      menu.classList.toggle("hidden");
    });
  });
</script>